<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("../share/load-css.ejs") %>
    <title>ToDoの編集</title>
  </head>
  <body>
    <div class="block--center">
      <%- include("../share/header.ejs") %>
      <h1>ToDoの編集</h1>
      <% const date = data.time.toLocaleDateString().split("/") %> <% let [m, d, y] = date %> <% m = ("0" + m).slice(-2)
      %> <% d = ("0" + d).slice(-2) %> <% const time = `${y}-${m}-${d}` %>
      <tr>
        <form action="/content/edit/excute" method="POST">
          <label>
            <p>予定日時</p>
            <input required type="date" value="<%= time %>" name="time" id="time" />
          </label>
          <label>
            <p>項目名</p>
            <input required type="text" value="<%= data.contentName %>" name="contentName" id="contentName" />
          </label>
          <div class="module-spacer--medium"></div>
          <button type="submit" name="_id" value="<%= data._id %>">変更を送信する</button>
        </form>
        <div class="module-spacer--medium"></div>
        <a href="/">ホームに戻る</a>
      </tr>
    </div>
  </body>
</html>
