<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./share/load-css.ejs') %>
    <title>ToDo</title>
  </head>
  <body>
    <div class="block--center">
      <%- include("./share/header.ejs") %>
      <h1>ToDoアプリ</h1>
      <button onclick="location.href = '/content/regist'">ToDoの登録</button>
      <div class="module-spacer--medium"></div>
      <% if (target) { %>
      <h2><%= target %>の検索結果</h2>
      <% } %>
      <h2><%= count %>件</h2>
      <form action="/search">
        <input required name="keyword" type="text" value="<%= queryParams.keyword %>" />
        <button type="submit">キーワード検索</button>
      </form>
      <div class="module-spacer--medium"></div>
      <form action="/search">
        <input required name="date" type="date" value="<%= queryParams.date %>" />
        <button type="submit">日付検索</button>
      </form>
      <div class="module-spacer--medium"></div>
      <button onclick="location.href = '/'">リセット</button>
      <div class="module-spacer--medium"></div>
      <h2><%= username %>さんのToDo</h2>
      <table border="1" cellpadding="20">
        <tr bgcolor="red">
          <th>日付</th>
          <th>項目</th>
          <th>編集</th>
          <th>削除</th>
        </tr>
        <% for (let content of contents) { %> <% const date = content.time.toLocaleDateString().split("/") %> <% let [m,
        d, y] = date %> <% m = ("0" + m).slice(-2) %> <% d = ("0" + d).slice(-2) %> <% const time = `${y}-${m}-${d}` %>
        <tr>
          <td><%= time %></td>
          <td><%= content.contentName %></td>
          <td>
            <form>
              <button
                type="submit"
                name="editBtn"
                value="<%= content._id %>"
                formmethod="POST"
                formaction="/content/edit"
              >
                編集
              </button>
            </form>
          </td>
          <td>
            <form>
              <button
                type="submit"
                value="<%= content._id %>"
                name="deleteBtn"
                formmethod="POST"
                formaction="/content/delete"
              >
                削除
              </button>
            </form>
          </td>
        </tr>
        <% } %>
      </table>
      <nav>
        <ul class="u-ul-style--none u-block--flex">
          <% for (i = 1; i <= pagination.max; i++) { %> <% if (pagination.current === i) { %>
          <li class="u-padding-right--10px"><span><%= i %></span></li>
          <% } else { %>
          <li class="u-padding-right--10px">
            <a href="/search/?keyword=<%= queryParams.keyword %>&date=<%= queryParams.date %>&page=<%= i %>"
              ><%= i %></a
            >
          </li>
          <% } } %>
        </ul>
      </nav>
    </div>
    <script src="../public/js/index.js"></script>
  </body>
</html>
